version: "3.9"
services:
  redis:
    image: redis:8.2-alpine
    container_name: fpl-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: ["redis-server", "--appendonly", "yes"]

volumes:
  redis-data:
