name: Bun Next.js Build Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Bun
        uses: oven-sh/bun@v0.8.5
        with:
          bun-version: stable

      - name: Install dependencies
        run: bun install

      - name: Build Next.js project
        run: bun run build
